.App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    display: block;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
    font-family: "Gowun Dodum", sans-serif;
    background-color: #a7efe9;
    height: 100%;
    width: 100%;
  }
  #forecast {
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  
  a:link {
    color: #fbac91;
  }
  a:hover {
    color: #7fdfd4;
  }
  
  h1 {
    font-family: "Gowun Dodum", sans-serif;
    color:#fbac91;
  }
  
  .humidity-wind {
    font-family: "Gowun Dodum", sans-serif;
    flex: wrap;
    font-size: 18px;
    color: #fbac91;
  }
  h3 {
    font-family: "Gowun Dodum", sans-serif;
    color: #fbac91;
  }
  #search-form {
    display: flex;
    margin:8px;
    color: teal;
    
  }
  #button{
    border:2px solid #fbac91;
    background-color: #fbac91;
    color: white;
    border-radius: 4px;
    margin: 8px;
  }
  #button:hover{
    border:2px solid #fbac91;
    background-color:#fbe1b6;
    color:#fbac91;

  }
  .forecast {
    font-family: "Gowun Dodum", sans-serif;
    color: #fbac91;
    text-align: center;
    justify-content: space-around;
    background-color: #fbe1b6;
    border: 15px solid #7fdfd4;
    border-radius: 15px;
    margin: 15px 0px;
  }
  .city-search {
    display: block;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #fbe1b6;
    border: 15px solid #7fdfd4;
  }

  .current-info {
    display: flex;
    font-family: "Gowun Dodum", sans-serif;
    flex: wrap;
    justify-content: space-around;
    align-items: center;
    color: #fbac91;
  }
  .current-temp {
    align-items: center;
  }
  
  
  .source-code-link {
    color: lightblue;
    font-size: small;
    padding: 0px;
  }
  .current-city{
    background-color: #fbe1b6;
    border: 15px solid #7fdfd4;
    border-radius: 15px;
    margin: 15px 0px;
  }
  
  